/* OrderComponent.css */
.order-container {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.order-buttons {
    margin-top: 15px;
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 3%;
}

button:hover {
    background-color: #c0392b;
}
